<div class="completed-course-table-title">General Education Requirements</div>

<div class="completed-course-table-label">Fundamental Studies (FS)</div>
<table id="ge-fs-completed" class="completed-course-table"></table>

<div class="completed-course-table-label">Distributive Studies (DS)</div>
<table id="ge-ds-completed" class="completed-course-table"></table>

<div class="completed-course-table-label">Big Question (SC)</div>
<table id="ge-sc-completed" class="completed-course-table"></table>

<div class="completed-course-table-label">Diversity (DV)</div>
<table id="ge-dv-completed" class="completed-course-table"></table>

<script>
    function sortCompleted(reqs, table_id) {
        const table = document.querySelector(`#${table_id}`);
        let table_html = `
            <tr>
                <th>Completed</th>
                <th>Incompleted</th>
            </tr>
        `;
        for (let course of reqs) {
            // add if to check user's previous credit
            table_html += `
                <tr>
                    <td></td>
                    <td>${course}</td>
                </tr>`;
        }
        table.innerHTML = table_html;
    }

    sortCompleted([
        "FSAW",
        "FSPW",
        "FSOC",
        "FSMA",
        "FSAR",], "ge-fs-completed");
    sortCompleted([
        "DSNL",
        "DSNS",
        "DSHS",
        "DSHS",
        "DSHU",
        "DSHU",
        "DSSP",
        "DSSP",], "ge-ds-completed");
    sortCompleted([
        "SCIS",
        "SCIS",], "ge-sc-completed");
    sortCompleted([
        "DVUP",
        "DVUP/DVCC",], "ge-dv-completed");
    
</script>