<div class="completed-course-table-title">General Education Requirements</div>

<table id="gen-ed-table" class="requirements-table"></table>

<script>
    function populateTableButtons(table_id, title, reqs) {
        const table = document.querySelector(`#${table_id}`);
        let table_html = table.innerHTML + `
            <tr>
                <th class="requirements-header">${title}</th>
                <td class="requirements-buttons">
        `;
        for (let course of reqs) {
            // add if to check user's previous credit
            table_html += `<button onclick="update(this, '${course}', false)">${course}</button>`
        }
        table.innerHTML = table_html;
    }

    populateTableButtons("gen-ed-table", "FS", [
        "FSAW",
        "FSPW",
        "FSOC",
        "FSMA",
        "FSAR",]);
    populateTableButtons("gen-ed-table", "DS", [
        "DSNL",
        "DSNS",
        "DSHS",
        "DSHS",
        "DSHU",
        "DSHU",
        "DSSP",
        "DSSP",]);
    populateTableButtons("gen-ed-table", "SC", [
        "SCIS",
        "SCIS",]);
    populateTableButtons("gen-ed-table", "DV", [
        "DVUP",
        "DVUP/DVCC",]);
</script>