<header>
    <h1>Mercury</h1>
    <h2>A combined University of Maryland degree planner and schedule builder</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
    </nav>
</header>
