<header>
    <div id="features" class="header-group">
        <a href="/"><img id="logo" src="/images/mercury.png"></a>
        
        <a href="/degree-plan">Degree Planner</a>
    </div>
    
    <div id="account" class="header-group">
        <% if (locals.user) { %>
            Logged in as <%- locals.user %>
        <% } %>
        
        <a href="/register">Register</a>
    
        <% if (locals.user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
    
</header>
