<p>
    Mercury is a combined schedule builder and semester planner for the University of Maryland.
    Aiming to consolidate multiple resources into a single place, Mercury will take care of the
    logistical planning of your degree.
</p>

<p>
    Please note that parsing issues with the UMD.io API may cause inaccuracies in the general-education
    credits a course grants, or the required prerequisites for a course. Potentially problematic courses will be highlighted.
    However, make sure to check the Testudo entries for all courses with more than one gen-ed credit or prereq.
</p>