:root {
    --color-primary: #E1B07E;
    --color-secondary: #E5BE9E;
    --color-accent: #86A397;
    --color-background1: #dadada;
    --color-background2: #fff;
    --padding: 2rem;
    --green: #68ce81;
    --red: #ce6868;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

body {
    background-color: var(--color-background2);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--padding)/2) var(--padding) calc(var(--padding)/2) var(--padding);
}

.header-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#logo {
    width: 3rem;
}

a {
    color: black;
    text-decoration: none;
}

.notification {
    margin: var(--padding);
    text-align: center;
}

main {
    width: 75%;
    margin: 3rem auto;
}

form {
    width: 50%;
    margin: auto;
}

.form-element {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 10rem;
}

.is-invalid {
    border: 2px red solid;
}

.show-error {
    color: red;
    display: block;
}

.hide-error{
    display: none;
}

.success-color {
    color: green;
}

.error-color {
    color: red;
}

.degree-link-container {
    margin-top: 2rem;
}

.degree-link-container > a {
    background-color: var(--color-accent);
    padding: 1rem;
}

.column-container {
    display: flex;
    flex-direction: row;
    border: 2px green solid;
}

.inner-column {
    flex: 1;
    border: 2px blue solid;
}

#requirements-container {
    display: grid;
    grid-template-areas: "requirements courses";
    grid-template-columns: 2fr 1fr;
}

#requirements-buttons {
    grid-area: requirements;
}

#current-requirements-course-list {
    grid-area: courses;
}

.requirements-table {
    border: 1px solid;
    width: 80%;
    margin: auto;
}

.requirements-header {
    width: 20%;
}

.requirements-buttons {
    width: 80%;
}

button:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}
  

.completed-course-table-title {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: var(--color-background1);
    padding: calc(var(--padding)/2) 0 calc(var(--padding)/2);
}

.spacer {
    margin: 1rem;
}

#current-requirements-course-list  {
    border: 1px black solid;
    width: 80%;
}

#current-requirements-course-list table {
    margin: auto;
}

#current-requirements-course-list th {
    text-decoration: underline;
}

table, td, th {
    text-align: center;
}

.content {
    padding: 0 calc(0.5*var(--padding));
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
}

.content td, .content th {
    text-align: left;
}

/* below code from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: calc(0.5*var(--padding));
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.active, .collapsible-active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.8rem;
    color: white;
    float: right;
    margin-left: 0.5rem;
}

.collapsible-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.center {
    display: flex;
    justify-content: center;
    padding: calc(0.5 * var(--padding));
}

.add-course {
    margin: auto;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's on top */
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex; /* Show the overlay */
}

.overlay .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--color-primary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}