h1 {
    text-align: center;
    background-color: lightblue;
}

h2 {
    text-align: center;
    background-color: lightblue;
}

nav {
    text-align: center;
    background-color: lightcoral;
}

main {
    margin: 1rem;
}

form {
    width: 50%;
    margin: auto;
}

.form-element {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 10rem;
}

.is-invalid {
    border: 2px red solid;
}

.show-error {
    color: red;
    display: block;
}

.hide-error{
    display: none;
}

.success-notif {
    color: green;
}

.error-notif {
    color: red;
}